trakt:
  usr: ''
transmission:
  user: ''
  pwd: ''
  host: ''
pushbullet:
  key: ''
  phone: ''
opensubtitles:
  user: ''
  pwd: ''
addic7ed:    
  user: ''
  pwd: ''
paths:
  home: '/downloads/torrents'
  shows: '/downloads/Shows'
  movies: '/downloads/Movies'
